<header id="logo" class="page-wrap">
    {{#if @blog.logo}}
   
    	<a id="logo-image" href="{{@blog.url}}">
    		<img src="{{@blog.logo}}" alt="{{@blog.title}} - {{@blog.description}}" />
    	</a>
    {{else}}
    <div id="social-icons">
	    <a class="icon-fb" href="https://www.facebook.com/travellingwithawineglass/timeline">Facebook</a>
	    <a class="icon-twitter" href="https://twitter.com/Travelwineglass">Twitter</a>
	    <a class="icon-rss" href="{{@blog.url}}/rss/">RSS</a>
	</div>
	    <h1 class="blog-title">
	    	<a href="{{@blog.url}}">{{@blog.title}}</a>
	    </h1>
	    <h2 class="blog-desc">
	    	<a href="{{@blog.url}}">{{@blog.description}}</a>
	    </h2>

	    <small>
	    <a href="http://travelling-with-a-wine-glass.ghost.io/tag/argentina/">Argentina</a>
	    &nbsp;|&nbsp;
	    <a href="http://travelling-with-a-wine-glass.ghost.io/tag/uruguay/">Uruguay</a>
	    &nbsp;|&nbsp;
	    <a href="http://travelling-with-a-wine-glass.ghost.io/tag/chile/">Chile</a>
	    &nbsp;|&nbsp;
	    <a href="http://travelling-with-a-wine-glass.ghost.io/tag/wine-routes/">Wine Routes</a>
	    </small>
    {{/if}}
</header>